@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div>
    <h4> About me: </h4>
    <ul>
        @if (ViewBag.name != null)
        {
            <li>Name: @ViewBag.name</li>
        }
        @if (ViewBag.age != null)
        {
            <li>Age: @ViewBag.age</li>
        }
        @if (ViewBag.height != null)
        {
            <li>Height: @ViewBag.height</li>
        }

    </ul>
</div>

@if (ViewBag.msg != null)
{
    <div>@ViewBag.msg</div>
}