@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

@if (ViewBag.msg != null)
{
<div>@ViewBag.msg</div>
}

<h2> My projects so far</h2> <!-- Last minute addition. Sorry about that -->

<table>
    <tr>
        <td> Name </td>
        <td> Link </td>
        <td> Description </td>
    </tr>
    <tr>
        <td> Calculator1 </td>
        <td> https://github.com/magbor21/Calculator1 </td>
        <td> A simple calculator </td>
    </tr>
    <tr>
        <td> Hangman2 </td>
        <td> https://github.com/magbor21/Hangman2 </td>
        <td> A game of Hangman </td>
    </tr>
    <tr>
        <td> CalculatorTest3 </td>
        <td> https://github.com/magbor21/CalculatorTest3 </td>
        <td> A better calculator and Xunit testing </td>
    </tr>
    <tr>
        <td> ToDoIt4 </td>
        <td> https://github.com/magbor21/ToDoIt4 </td>
        <td> Todo-lists with classes and Xunit testing </td>
    </tr>
    <tr>
        <td> VendingMachine5 </td>
        <td> https://github.com/magbor21/VendingMachine5 </td>
        <td> Vending machine using inheritence </td>
    </tr>
    <tr>
        <td> FrontEnd1 </td>
        <td> https://github.com/magbor21/Frontend1 </td>
        <td> Basic HTML and CSS </td>
    </tr>
    <tr>
        <td> Sokoban3 </td>
        <td> https://github.com/magbor21/Sokoban3 </td>
        <td> The game Sokoban in javascript </td>
    </tr>
    <tr>
        <td> MVCBasic123 </td>
        <td> https://github.com/magbor21/MVCBasics123 </td>
        <td> Basics in ASP.net and MVC </td>
    </tr>

</table>